{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [warnings_as_errors,
            {parse_transform, lager_transform}]}.

{eunit_opts, [verbose]}.

{deps, [
    {riak_dt, ".*",
     {git, "git://github.com/basho/riak_dt", "develop"}},
    {riak_core, ".*",
     {git, "git://github.com/basho/riak_core", "master"}},
    {rebar_lock_deps_plugin, ".*",
     {git, "https://github.com/lukyanov/rebar-lock-deps.git", {branch, "master"}}}
]}.


{plugins, [rebar_lock_deps_plugin]}.
