{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [warnings_as_errors,
            {parse_transform, lager_transform}]}.

{eunit_opts, [verbose]}.

{deps, [
    {riak_dt, ".*",
     {git, "git://github.com/basho/riak_dt", "master"}},
    {riak_core, ".*",
     {git, "git://github.com/basho/riak_core", "master"}},
    {gproc, ".*",
     {git, "git://github.com/uwiger/gproc.git", "master"}}
]}.
